
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.5s ease, color 0.5s ease, fill 0.5s ease;
}

#icon {
    position: fixed;
    bottom: 2vh;
    right: 2vh;
    background-color: #fff;
    border: 1px solid #0A0A23;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.dark-theme #icon {
    background-color: #0A0A0A;
    border: 1px solid #E0E0E0;
}

#icon img {
    height: 6vh;
    transition: height 0.3s ease;
}

#icon img:hover {
    height: 7vh;
}

#icon:hover {
    background-color: #87CEFA;
}

.dark-theme #icon:hover {
    background-color: #2a2a72;
}

.navbar {
    position: fixed;
    height: 9vh;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #0A0A23;
    z-index: 1000;
}

.dark-theme .navbar {
    background-color: #000000;
}

.navbar a {
    text-decoration: none;
    margin: 0px 4vh;
    color: #fff;
    font-size: 3vh;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-theme .navbar a {
    color: #E0E0E0;
}

.navbar a:hover {
    color: #87CEFA;
}


.dark-theme .navbar a:hover {
    color: #f1eeee;
}

.progress_bar {
    position: fixed;
    width: 100%;
    height: 1vh;
    top: 9vh;
    z-index: 999;
    background-color: #1e1e9c;
}

.dark-theme .progress_bar {
    background-color: #0A0A23;
}

.filled {
    width: 0;
    height: 100%;
    background-image: linear-gradient(to right, #1E90FF, #87CEFA);
}

.dark-theme .filled{
    background-image: linear-gradient(to right, #273149, #2a2a72);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    color: #0A0A23;
    background: #ffffff;
    overflow-x: hidden;
    padding-top: 10vh;
}

.dark-theme section {
    background: #0A0A0A;
    color: #E0E0E0;
}

h1 {
    font-size: 10vh;
}

p {
    font-size: 4.5vh;
}

section .animate {
    opacity: 0;
    filter: blur(5px);
    transition: 2s;
}

section.show_animate .animate {
    opacity: 1;
    filter: blur(0);
}

.first_section p {
    font-size: 3vh;
    margin: 5vh 25vh;
    text-align: center;
}

.first_section .animate {
    transform: scale(0.7);
}

.first_section.show_animate .animate{
    transform: scale(1);
}

.second_section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 9vw;
}

.second_section .first_column {
    flex-basis: 50%;
    position: relative;
    align-items: center;
}

.second_section .first_column p {
    font-size: 3vh;
    margin: 3vh 0px;
}

.second_section .second_column {
    position: relative;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second_section .second_column img {
    max-width: 59%;
    height: auto;
    border: #0A0A23 5px solid;
    border-radius: 50%; 
    object-fit: cover;
}

.second_section .animate {
    transform: translateX(-100%);
}

.second_section.show_animate .animate{
    transform: translateX(0);
}

.third_section .animate {
    transform: translateX(100%);
}

.third_section.show_animate .animate{
    transform: translateX(0);
}

.third_section .first_job,
.third_section .second_job {
    padding: 3vh;
    margin: 3vh;
    width: 60%;
    border-radius: 10px;
    background-color: #0A0A23;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dark-theme .third_section .first_job,
.dark-theme .third_section .second_job {
    background-color: #1a1818;
    color: #E0E0E0;
}

.third_section h2 {
    font-size: 5.2vh;
    padding-bottom: 5px;
}

.third_section p {
    font-size: 2.9vh;
}

ul {
    list-style-type: disc; 
    padding-left: 50px;
    padding-right: 20px;
}
  
li {
    margin: 10px 0; 
    font-size: 2.3vh;
}

.fifth_section .images img{
    max-width: 10vh;
    max-height: 10vh;
    margin: 20px 30px;
    transform: translateX(-100%);
    transition-delay: calc(.2s * var(--i));
}

.fifth_section.show_animate .images img {
    transform: translateX(0);
}