
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.5s ease, color 0.5s ease, fill 0.5s ease;
}

#icon {
    position: fixed;
    bottom: 2vh;
    right: 2vh;
    background-color: #fff;
    border: 1px solid #0A0A23;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

#icon img {
    height: 6vh;
    transition: height 0.3s ease;
}

#icon img:hover {
    height: 7vh;
}

#icon:hover {
    background-color: #87CEFA;
}

.navbar {
    position: fixed;
    height: 9vh;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #0A0A23;
    z-index: 1000;
}

.navbar a {
    text-decoration: none;
    margin: 0px 4vh;
    color: #fff;
    font-size: 3vh;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
    color: #87CEFA;
}

.progress_bar {
    position: fixed;
    width: 100%;
    height: 1vh;
    top: 9vh;
    z-index: 999;
    background-color: #1e1e9c;
}

.filled {
    width: 0;
    height: 100%;
    background-image: linear-gradient(to right, #1E90FF, #87CEFA);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    color: #0A0A23;
    background: #ffffff;
    overflow-x: hidden;
    padding-top: 10vh;
}

h1 {
    font-size: 10vh;
}

p {
    font-size: 4.5vh;
}

section .animate {
    opacity: 0;
    filter: blur(5px);
    transition: 2s;
}

section.show_animate .animate {
    opacity: 1;
    filter: blur(0);
}

.first_section p {
    font-size: 3vh;
    margin: 5vh 25vh;
    text-align: center;
}

.first_section .animate {
    transform: scale(0.7);
}

.first_section.show_animate .animate{
    transform: scale(1);
}

.second_section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 9vw;
}

.second_section .first_column {
    flex-basis: 50%;
    position: relative;
    align-items: center;
}

.second_section .first_column p {
    font-size: 3vh;
    margin: 3vh 0px;
}

.second_section .second_column {
    position: relative;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second_section .second_column img {
    max-width: 59%;
    height: auto;
    border: #0A0A23 5px solid;
    border-radius: 50%; 
    object-fit: cover;
}

.second_section .animate {
    transform: translateX(-100%);
}

.second_section.show_animate .animate{
    transform: translateX(0);
}

.third_section .first_job,
.third_section .second_job {
    padding: 3vh;
    margin: 3vh;
    width: 60%;
    border-radius: 10px;
    background-color: #0A0A23;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.third_section h2 {
    font-size: 5.2vh;
    padding-bottom: 5px;
}

.third_section p {
    font-size: 2.9vh;
}

ul {
    list-style-type: disc; 
    padding-left: 50px;
    padding-right: 20px;
}

ul ul {
    list-style-type: circle;
}
  
li {
    margin: 10px 0; 
    font-size: 2.3vh;
}

.third_section .animate {
    transform: translateX(100%);
}

.third_section.show_animate .animate{
    transform: translateX(0);
}

.fourth_section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 6vw;
}

.fourth_section .first_column {
    flex-basis: 50%;
    position: relative;
    align-items: center;
}

.fourth_section .second_column {
    position: relative;
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
}

.fourth_section .first_school,
.fourth_section .second_school {
    padding: 3vh;
    margin: 3vh;
    width: 95%;
    border-radius: 10px;
    background-color: #0A0A23;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fourth_section h2 {
    font-size: 4.7vh;
    padding-bottom: 5px;
}

.fourth_section p {
    font-size: 2.7vh;
}

.fifth_section .animate {
    transform: translateX(-100%);
}

.fifth_section.show_animate .animate{
    transform: translateX(0);
}

.fifth_section .images img{
    max-width: 10vh;
    max-height: 10vh;
    margin: 20px 30px;
    transform: translateX(-100%);
    transition-delay: calc(.2s * var(--i));
}

.fifth_section.show_animate .images img {
    transform: translateX(0);
}

/* Dark theme */
.dark-theme #icon {
    background-color: #0A0A0A;
    border: 1px solid #E0E0E0;
}

.dark-theme #icon:hover {
    background-color: #2a2a72;
}

.dark-theme .navbar {
    background-color: #000000;
}

.dark-theme .navbar a {
    color: #E0E0E0;
}

.dark-theme .navbar a:hover {
    color: #f1eeee;
}

.dark-theme .progress_bar {
    background-color: #0A0A23;
}

.dark-theme .filled{
    background-image: linear-gradient(to right, #273149, #2a2a72);
}

.dark-theme section {
    background: #0A0A0A;
    color: #E0E0E0;
}

.dark-theme .second_section .second_column img {
    border: #E0E0E0 5px solid;
}

.dark-theme .third_section .first_job,
.dark-theme .third_section .second_job {
    background-color: #1a1818;
    color: #E0E0E0;
}

.dark-theme .fourth_section .first_school,
.dark-theme .fourth_section .second_school {
    background-color: #1a1818;
    color: #E0E0E0;
}

/* Media Queries*/

/* Mobile Landscape and Small Tablets */
@media (max-width: 480px) {
    .navbar {
        display: none;
        height: 0px;
    }

    .progress_bar {
        top: 0px;
    }

    section {
        padding-top: 0px;
    }

    h1 {
        font-size: 4.9vh;
        text-align: center;
    }

    .first_section p {
        font-size: 2.7vh;
        margin: 2vh 5vh;
    }

    .second_section {
        justify-content: center;
    }

    .second_section .first_column {
        flex-basis: 100%;
        text-align: center;
    }

    .second_section .first_column p {
        font-size: 2.5vh;
    }

    .second_section .second_column {
        display: none;
    }

    .third_section .first_job,
    .third_section .second_job {
        width: 80%;
    }

    .third_section h2 {
        font-size: 3vh;
    }
    
    .third_section p {
        font-size: 2vh;
    }

    ul {
        padding-left: 30px;
        padding-right: 10px;
    }

    li {
        font-size: 1.7vh;
    }

    .fourth_section{
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }

    .fourth_section .first_column {
        text-align: center;
    }

    .fourth_section .first_column,
    .fourth_section .second_column {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .fourth_section .first_school,
    .fourth_section .second_school {
        margin: 3vh 0vh;
        width: 80%;
    }

    .fourth_section h2 {
        font-size: 3vh;
    }
    
    .fourth_section p {
        font-size: 2vh;
    }

    .fifth_section .images img {
        max-width: 8vh;
        max-height: 8vh;
        margin: 10px 20px;
    }
}

/* Tablets Portrait */
@media (min-width: 768px) and (max-width: 1023px) {
    h1 {
        font-size: 8vh;
    }

    .second_section .second_column img {
        max-width: 70%;
    }

    .second_section .first_column p {
        font-size: 2.55vh;
    }

    .third_section h2 {
        font-size: 4.5vh;
    }
    
    .third_section p {
        font-size: 2.6vh;
    }

    ul {
        padding-left: 40px;
        padding-right: 15px;
    }

    li {
        font-size: 2.4vh;
    }

    ul ul {
        padding-left: 25px;
    }

    .fourth_section h2 {
        font-size: 4.2vh;
    }
    
    .fourth_section p {
        font-size: 2.8vh;
    }
}

/* Large Desktops */
@media (min-width: 1201px) {
    .first_section p {
        margin: 5vh 45vh;
    }

    .second_section .first_column p {
        font-size: 3.15vh;
    }

    .second_section .second_column img {
        border: #0A0A23 6px solid;
    }
    
    .third_section p {
        font-size: 3vh;
    }

    li {
        font-size: 2.4vh;
    }

    .third_section .first_job,
    .third_section .second_job {
        border-radius: 12px;
    }

    .fourth_section p {
        font-size: 2.8vh;
    }

    ul ul {
        padding-left: 25px;
    }

    .fourth_section .first_school,
    .fourth_section .second_school {
        border-radius: 12px;
    }

    .fifth_section .images img{
        max-width: 12vh;
        max-height: 12vh;
    }
}